{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<style>
  .table {
    width: 100%;
    margin-bottom: 20px;
    border: 15px solid #F2F8F8;
    border-top: 5px solid #F2F8F8;
    border-collapse: collapse; 
  }
  .table th {
    font-weight: bold;
    padding: 5px;
    background: #F2F8F8;
    border: none;
    border-bottom: 5px solid #F2F8F8;
  }
  .table td {
    padding: 5px;
    border: none;
    border-bottom: 5px solid #F2F8F8;
  }
  .select {
  display:flex;
  flex-direction: column;
  position:relative;
  width:250px;
  height:40px;
}

.option {
  padding:0 30px 0 10px;
  min-height:40px;
  display:flex;
  align-items:center;
  background:#333;
  border-top:#222 solid 1px;
  position:absolute;
  top:0;
  width: 100%;
  pointer-events:none;
  order:2;
  z-index:1;
  transition:background .4s ease-in-out;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;
  
}

.option:hover {
  background:#666;
}

.select:focus .option {
  position:relative;
  pointer-events:all;
}

input {
  left:0px;
}

input:checked + label {
  order: 1;
  z-index:2;
  background:#666;
  border-top:none;
  position:relative;
}

input:checked + label:after {
  content:'';
  width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid white;
  position:absolute;
  right:10px;
  top:calc(50% - 2.5px);
  pointer-events:none;
  z-index:3;
}

input:checked + label:before {
  position:absolute;
  right:0;
  height: 40px;
  width: 40px;
  content: '';
  background:#666;
}
</style>


<h1 class="title">
  Welcome, {{ name }}!
</h1>


<h2 class="subtitle">
  Your shares:
</h2>
<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Shares number</th>
      <th>Purchase price</th>
      <th>Purchase date</th>
    </tr>
  </thead>
  {% for share in query_my_shares %}
  <tr>
    <td>
      {{ share.Company.name }}
    </td>
    <td>
      {{ share.order_share_ammount }}
    </td>
    <td>
      ${{ share.order_share_price }}
    </td>
    <td>
      {{ share.order_date }}
    </td>
  </tr>
  {% endfor %}
</table>


<form method="POST" action="{{ url_for('main.profile') }}">
  <h2>
    Purchase a share:
  </h2>
  <dd>
    {{ buy_form.csrf_token }}
    {{ buy_form.company_to_buy.label }}
    {{ buy_form.company_to_buy }}
    {{ buy_form.ammount_to_buy.label }}
    {{ buy_form.ammount_to_buy }}
    {{ buy_form.price_to_buy.label }}
    {{ buy_form.price_to_buy }}
    <span style="color:green;">{{ buy_form.buy_flag }}</span>
    <ul>
      {% for error in buy_form.ammount_to_buy.errors %}
          <li style="color:red;">{{ error }}</li>
      {% endfor %}
      {% for error in buy_form.company_to_buy.errors %}
          <li style="color:red;">{{ error }}</li>
      {% endfor %}
      {% for error in buy_form.price_to_buy.errors %}
          <li style="color:red;">{{ error }}</li>
      {% endfor %}
      {% for error in buy_form.csrf_token.errors %}
        {errors={'csrf_token': ['CSRF token missing']}}
      {% endfor %}
    </ul>
  </dd>
  <p><input type="Submit" name="Submit" value="Buy">
</form>


<form method="POST" action="{{ url_for('main.profile') }}">
  <h3>
    Sell a share:
  </h3>
  <dd>
    {{ sell_form.csrf_token }}
    {{ sell_form.company_to_sell.label }}
    {{ sell_form.company_to_sell }}
    {{ sell_form.ammount_to_sell.label }}
    {{ sell_form.ammount_to_sell }}
    {{ sell_form.price_to_sell.label }}
    {{ sell_form.price_to_sell }}
    <span style="color:green;">{{ sell_form.sell_flag }}</span>
    <ul>
      {% for error in sell_form.company_to_sell.errors %}
          <li style="color:red;">{{ error }}</li>
      {% endfor %}
      {% for error in sell_form.ammount_to_sell.errors %}
          <li style="color:red;">{{ error }}</li>
      {% endfor %}
      {% for error in sell_form.price_to_sell.errors %}
          <li style="color:red;">{{ error }}</li>
      {% endfor %}
      {% for error in sell_form.csrf_token.errors %}
        {errors={'csrf_token': ['CSRF token missing']}}
      {% endfor %}
    </ul>
  </dd>
  <p><input type="Submit" name="Submit" value="Sell">
</form>

<h1 class="title">
  Your shares for sale:
</h1>
<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Ammount to sell</th>
      <th>Ammount sold</th>
      <th>Price</th>
    </tr>
  </thead>
  {% for share in qury_my_shares_for_sale %}
  <tr>
    <td>
      {{ share.Company.name }}
    </td>
    <td>
      {{ share.ammount_to_sell }}
    </td>
    <td>
      {{ share.ammount_sold }}
    </td>
    <td>
      ${{ share.price }}
    </td>
  </tr>
  {% endfor %}
</table>

<h1 class="title">
  Your shares to buy:
</h1>
<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Ammount to buy</th>
      <th>Ammount bought</th>
      <th>Price</th>
    </tr>
  </thead>
  {% for share in qury_my_sahres_to_buy %}
  <tr>
    <td>
      {{ share.Company.name }}
    </td>
    <td>
      {{ share.ammount_to_buy }}
    </td>
    <td>
      {{ share.ammount_bought }}
    </td>
    <td>
      ${{ share.price }}
    </td>
  </tr>
  {% endfor %}
</table>

<h1 class="title">
  Your activity log:
</h1>
<table class="table">
  <thead>
    <tr>
      <th>Operation</th>
      <th>Shares number</th>
      <th>Company</th>
      <th>Price</th>
    </tr>
  </thead>
  {% for activity in activities %}
  <tr>
    <td>
      {{ activity.operration }}
    </td>
    <td>
      {{ activity.ammount }}
    </td>
    <td>
      {{ activity.Company.name }}
    </td>
    <td>
      ${{ activity.price }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}